@import "./variables.scss";

%unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%off-screen{
  position:absolute;
  left:-9999px;
}

// add border-radius to left/right
@mixin with-border-radius ($border, $value) {
  border-top-#{$border}-radius: $value;
  border-bottom-#{$border}-radius: $value;
}
