@import "./variables.scss";

%unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%off-screen{
  position:absolute;
  left:-9999px;
}
