@import "./variables.scss";

%unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%off-screen{
  position:absolute;
  left:-9999px;
}

// add border-radius to left/right
@mixin with-border-radius ($border, $value) {
  border-top-#{$border}-radius: $value;
  border-bottom-#{$border}-radius: $value;
}

@mixin with-positions ($t, $r, $b, $l) {
  left: $l;
  right: $r;
  top: $t;
  bottom: $b;
}

@mixin with-full-overlay {
  content: '';
  position: absolute;
  @include with-positions(0, 0, 0, 0);
  background-color: $panel-inactive-overlay;
  z-index: 5000;
}
