@import "ui/style/base.scss";

$button-group-border-radius: 5px;

.ButtonGroup {
  border-radius: $button-group-border-radius;
  display: inline-block;

  // to lazy to expose
  & > button, & > a {
    &:first-of-type {
      border-top-left-radius: $button-group-border-radius;
      border-bottom-left-radius: $button-group-border-radius;
    }

    &:last-of-type {
      border-top-right-radius: $button-group-border-radius;
      border-bottom-right-radius: $button-group-border-radius;
    }

    &:not(:last-of-type) {
      border-right-style: none;
    }
  }
}
