@import "ui/style/base.scss";

@mixin create-btn-theme ($color-bg, $color-text) {
  background-color: $color-bg;
  color: $color-text;

  &:not(.Active):hover {
    background-color: lighten($color-bg, 20%);
  }
  &.Disabled {
    background-color: darken($color-bg, 20%) !important;
  }
  &.Active {
    background-color: lighten($color-bg, 20%);
    color: $brown;
  }
}

.Button {
  display: inline-block;
  padding: 5px;
  transition: background-color 0.2s;
  border: 1px solid $brown;
  cursor: pointer;
  outline: none !important; // fix on chrome
}

.Blue   { @include create-btn-theme($blue, $beige); }
.Green  { @include create-btn-theme($green, $beige); }
.Red    { @include create-btn-theme($red, $beige); }
.Yellow { @include create-btn-theme($yellow, $brown); }
.Beige  { @include create-btn-theme($beige, $brown); }
.Brown  { @include create-btn-theme($brown, $beige); }
