@import "ui/style/base.scss";

$border: 1px solid $brown;
$option-list-bg: $beige;
$option-list-hover: $blue;
$option-value-hover: $white;
$option-list-padding: 5px;

.Dropdown {
  position: relative;
  text-align: right;

  &:hover .DropdownOptions {
    // display: block;
    visibility: visible;
    opacity: 1.0;
  }
}

.DropdownOpen {}

.DropdownClosed {}

.DropdownValue {
  border: $border;
  padding: 5px 15px;
  cursor: pointer;

  &:hover {
    background-color: $option-value-hover;
  }
}

.DropdownOptions {
  padding: $option-list-padding;
  // display: none;
  visibility: collapse;
  position: absolute;
  // right: -$option-list-padding;
  right: 0;
  top: -$option-list-padding;
  z-index: 1000;
  cursor: pointer;
  border: $border;
  background-color: $option-list-bg;
  text-align: right; // center; better align
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.DropdownOptionItem {
  padding: 5px 10px;

  &:hover {
    background-color: $option-list-hover;
  }
}
