@import "ui/style/base.scss";

$label-bg: #e9ecef;
$border-radius: 5px;
$border: 1px solid $brown;

.InputWrapper {
  margin-bottom: 5px;
  display: flex;

  &.HasPrepend {
    .Input { @include with-border-radius(left, 0); }
  }

  &.HasAppend {
    .Input { @include with-border-radius(right, 0); }
  }
}

.Input {
  border-radius: $border-radius;
  box-shadow: none;
  padding: 5px 8px;
  border: $border;
  width: 0;
  flex-grow: 1;
}

.InputDisabled {
  background-color: #bababa;
}

@mixin input-label {
  background: $label-bg;
  margin: 0;
  border: $border;
  line-height: 26px;
  text-align: center;
  flex-shrink: 0;

  svg { margin-top: 5px; } // too lazy to handle as classname prop
}

.InputPrepend {
  @include input-label;
  @include with-border-radius(left, $border-radius);
  border-right-style: none;
}

.InputAppend {
  @include input-label;
  @include with-border-radius(right, $border-radius);
  border-left-style: none;
}
