@import "ui/style/base.scss";

.ModalOverlay {
  position: fixed;
  left: 0;
  top: 0;
  background: $modal-overlay;
  width: 100%;
  height: 100%;
  z-index: 5000;
}

.ModalWrapper {
  @include center-hv;
}

.ModalContent {
  background: $beige;
  border: 1px solid $panel-border;
  padding: 10px 20px;
  border-radius: 5px;
}


.ModalButtons {
  text-align: center;
}

.ModalBtn {
  border-radius: 3px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
