.Section {
  margin-bottom: 15px;
}

.SectionHeader {
  text-transform: uppercase;
  // background-color: #d8d8d8;
  cursor: pointer;
  padding: 5px;
}

.SectionTitle {
  display: inline-block;
  margin: 0 0 0 15px;
}

.SectionBody {
  padding: 5px;
}
