@import "ui/style/base.scss";

$active-color: $blue;
$animation-indicator: 0.2s;
$animation-title: 0.2s;

.TabsWithBodyWrapper {
  width: 100%;
}

.TabsWrapper {
  width: 100%;
  position: relative;
}

.Tabs {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.Tab {
  list-style: none;
  text-align: center;
  cursor: pointer;

  padding: .4rem .2rem .3rem .2rem;
  line-height: 24px;

  svg {
    top: -2px;
    position: relative;
    margin-right: 5px;
  }
}

.TabTitle {
  display: inline;
  margin: 0;
}

.TabActive {
  animation-delay: $animation-indicator / 2;
  animation-duration: $animation-title;
  animation-name: anim-tab-name-light-up;
  animation-fill-mode: forwards;
}

.TabInactive {
}

.TabIndicator {
  border-bottom: 3px solid $active-color;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: $animation-indicator;
  transition-timing-function: ease-out;
}

@keyframes anim-tab-name-light-up {
  0% {
    color: $text-color;
  }

  100% {
    color: $active-color;
  }
}
