@import "ui/style/base.scss";

.Alert {
  border: 1px solid $panel-border;
  padding: 5px 10px;
  margin-bottom: 5px;
  color: $white;
  background: $blue;

  &.AlertSuccess {
    background: $green;
  }

  &.AlertError {
    background: $red;
  }
}

.Icon {
  margin-right: 8px;
  position: relative;
  top: -2px;
}
