@import "ui/style/base.scss";

$button-spacing: 10px;
$frameStatus-input-w: 50px;
$frameStatus-label-w: 70px;

%btn-spacer {
  margin-right: $button-spacing;
}

.TimelineButtonRow {
  background-color: $body-bg;
  border-top: 1px solid $panel-border;
  padding: 5px;
}

.TransformSpacesDropdown {
  @extend %btn-spacer;
  display: inline-block;
  top: 2px;
}

.FrameStatus {
  @extend %btn-spacer;
  display: inline-flex !important;
  position: relative;
  top: 3px;
  margin-bottom: 0;

  // too lazy to expose, so just stupid selector
  input { max-width: $frameStatus-input-w; padding-bottom: 4px; }
  p { width: $frameStatus-label-w; }
}

.ButtonSpacing {
  @extend %btn-spacer;
}

.Tooltip {
  top: -18px;
}
