@import "ui/style/base.scss";

$tick-time-size: 15px;
$tick-full-size: 61px;
$tick-current-frame: $red;
$tick-time: $brown;
$tick-keyframe: $keyframe-color;
$tick-z-index: 250;
$preview-z-index: 200;
$preview-bg: rgba($brown, 0.25);
$preview-border: rgba($brown, 0.4);


.TimelineAxis {
  background-color: $body-bg;
  height: $tick-full-size;
  border-top: 1px solid $panel-border;
  position: relative;
  @extend %unselectable;
}

.Tick {
  position: absolute;
  top: 0;
  left: 0; // will get overriden
  height: $tick-time-size;
  border-left: 1px solid transparent;
  z-index: $tick-z-index;

  &.TickTime {
    border-color: $tick-time;
    padding-left: 4px;
    font-size: 10px;
    z-index: 500;
    background: linear-gradient(
      rgba($body-bg, 0.7),
      rgba($body-bg, 0.0));
  }

  &.TickKeyframe {
    border-color: $tick-keyframe;
    border-width: 2px;
    height: $tick-full-size - 6px;
  }

  &.TickCurrentFrame {
    border-color: rgba($tick-current-frame, 0.75);
    border-width: 5px;
    height: $tick-full-size - 6px;
  }
}


.PreviewRange {
  z-index: $preview-z-index;
  height: 100%;
  background: $preview-bg;
  position: absolute;
  border-color: $preview-border;
  border-width: 1px;
}
