@import "ui/style/base.scss";

$padding: 5px;
$animation-swtich-tab: 330ms;
$far-away-x: 150%;


.Settings {
  border-left: 1px solid $panel-border;
  background-color: $body-bg;
  overflow-x: hidden;
  border-top-left-radius: 10px;
}

.IsPlaying {
  &:after {
    @include with-full-overlay;
  }
}

.SettingsBody {
  padding-top: 15px;
  width: 200%;
  display: flex;
  transition: all $animation-swtich-tab;

  &.TabObject {
    transform: translateX(0);
  }

  &.TabGlobal {
    transform: translateX(-50%);
  }
}

.AnimatedTab {
  padding: 0 $padding;
  width: 100%;
}
